{% block html %}
  <!DOCTYPE html>
  <!--[if lte IE 9]>
  <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
  <![endif]-->
  <html lang="{{ lang or 'es' }}">
    {% block head %}
      <head>
        <!--[if lt IE 9]>
         <script type="text/javascript">
         document.createElement("nav");
         document.createElement("header");
         document.createElement("footer");
         document.createElement("section");
         document.createElement("article");
         document.createElement("aside");
         document.createElement("hgroup");
         </script>
         <link rel="stylesheet" href="/css/rtve.2015/rtve.oldie.css" media="all" />
         <![endif]-->
        {% block metas %}{% endblock %}
        {% block css %}{% endblock %}
      </head>
    {% endblock %}

    {% block body %}
      <body class="{{ body_class or 'p_final' }}">
        {% block toplayer %}
          <div class="wrapper toplayer"></div>
        {% endblock %}
        {% block auxheader %}
          <div class="wrapper fixer auxheader"></div>
        {% endblock %}
        {% block header %}
          <div class="wrapper mainheader"></div>
        {% endblock %}
        {% block main %}
          <main id="topPage" class="wrapper mainbodier">
            {% block subheader %}
              <div class="wrapper subheader"></div>
            {% endblock %}
            {% block bodier %}
              <div class="wrapper bodier">
                {% block toplayer_bodier %}
                  <div class="toplayer"></div>
                {% endblock %}
                {% block container %}
                  <div class="container"></div>
                {% endblock %}
                {% block botlayer_bodier %}
                  <div class="botlayer"></div>
                {% endblock %}
              </div>
            {% endblock %}
          </main>
        {% endblock %}
        {% block footer %}
          <div class="wrapper footer"></div>
        {% endblock %}
        {% block botlayer %}
          <div class="wrapper botlayer"></div>
        {% endblock %}
        {% block js %}{% endblock %}
      </body>
    {% block body %}
  </html>
{% endblock %}
